@tailwind base;
@tailwind components;
@tailwind utilities;
.animation-nav {
  transform: translate(-300%);
  animation: nav ease-in-out;
}
@keyframes nav {
  0% {
    transform: translateY(50%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(50%);
  }
}
